<footer class="footer">
            <ul class="bot-menu clearfix">
               <li><a href="index.php@do=feedback">Обратная связь</a></li>

            </ul>
            <div class="bot-text">ANICHAN — лучше только в кинотеатре!</div>
            <div class="count"></div>

            <!--LiveInternet counter--><script type="text/javascript">
            new Image().src = "../counter.yadro.ru/hit@r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random();</script><!--/LiveInternet-->


         </footer>
      </div>
      <!-- end main -->
   </div>
   <!-- end wrap -->