{% load movie_tag %}
{% load static %}
{% load movie_tag %}

   <style>
      @media screen and (max-width: 470px) {
      .center {
         min-width: 100%;
      }
   }
   </style>









	<div class="login-box" id="login-box" title="Авторизация">
	<!--noindex-->
		<div class="login-social clearfix">





		</div>
		<div class="login-form">
			<form method="post">
				<div class="login-input">
					<input type="text" name="login_name" id="login_name" placeholder="Ваш логин"/>
				</div>
				<div class="login-input">
					<input type="text" name="login_password" id="login_password" placeholder="Ваш пароль" />
				</div>
				<div class="login-button">
					<button onclick="submit();" type="submit" title="Вход">Войти на сайт</button>
					<input name="login" type="hidden" id="login" value="submit" />
				</div>
				<div class="login-checkbox">
					<input type="checkbox" name="login_not_save" id="login_not_save" value="1"/>
					<label for="login_not_save">&nbsp;Чужой компьютер</label>
				</div>
				<div class="login-links clearfix">
					<a href="">Забыли пароль?</a>
					<a href="" class="log-register">Регистрация</a>
				</div>
			</form>
		</div>

	<!--/noindex-->
	</div>
   <div class="wrap">
      <!--
   <a href="#" class="brand-link"></a>
      -->
      <div class="main center">
         <header class="header" id="header">
            <a href="/" class="logotype" title="На главную">ANICHAN</a>
            <span class="underlogo">братьям и сестрам посвещаеться</span>
            <div class="search-box">
               <form id="quicksearch" method="post">
                  <input type="hidden" name="do" value="search" />
                  <input type="hidden" name="subaction" value="search" />
                  <div class="search-inner">
                     <input id="ajax_search" name="story" placeholder="Поиск..." type="text" />
                     <button type="submit" title="Найти">
                        <span class="fa fa-search"></span>
                     </button>
                  </div>
               </form>
            </div>

            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj" data-title=" " data-image="" data-description=""></div>
            <div class="show-login img-box" id="loginbtn">
               <span class="fa fa-user"></span>
            </div>
         </header>

         <!--noindex-->
         <div class="related tcarusel carou-top">

            <div class="rel-title">Последнее добавленное:</div>
            <div class="tcarusel-scroll clearfix">

                {% get_last_movies %}
            </div>
            <div class="tcarusel-prev">
               <span class="fa fa-arrow-left"></span>
            </div>
            <div class="tcarusel-next">
               <span class="fa fa-arrow-right"></span>
            </div>
         </div>
         <!--/noindex-->

<div class="cols clearfix" id="cols">



         <!-- end cols -->