<aside class="sidebar">
               <div class="side-b">
                  <div class="side-t ic-l decor">
                     <span class="fa fa-book"></span>Категории</div>
                  <div class="side-c nav">
                     <ul class="flex-row">
                        <li>
                           <a href="kino-novinki-2019/default.htm">
                              <span style="color: #FFEB3B;" class="fa fa-exclamation"></span> Новинки 2020</a>
                        </li>
                        <li class="nav_border"><a href="../tab.film/default.htm" target="_blank" style="text-align: center;color: yellow;text-shadow: 0 0 10px;">anichan</a></li>
                        <li>
                           <a href="kino-novinki-2018/default.htm">
                              <span style="color: #FFEB3B;" class="fa fa-exclamation"></span> Новинки 2018</a>
                        </li>
                        <li class="nav_border"><a href="2019-god/default.htm" style="text-align: center;">2020</a></li>
                        <li>
                           <a href="kino-novinki-2017/default.htm">Новинки 2017</a>
                        </li>
                        <li class="nav_border"><a href="2018-god/default.htm" style="text-align: center;">2018</a></li>
                        <li><a href="vse-filmy/default.htm">Фильмы</a></li>
                        <li class="nav_border"><a href="2017-god/default.htm" style="text-align: center;">2017</a></li>
                        <li><a href="vse-serialy/default.htm">Сериалы</a></li>
                        <li class="nav_border"><a href="2016-god/default.htm" style="text-align: center;">2016</a></li>
                        <li><a href="vse-multfilmy/default.htm">Мультфильмы</a></li>
                        <li class="nav_border"><a href="2015-god/default.htm" style="text-align: center;">2015</a></li>
                        <li class="side-nav-li100">
                           <a href="mnogochastnye.html">
                              <span class="fa fa-link"></span> Многочастные фильмы</a>
                        </li>
                     </ul>

                  </div>
               </div>
               <div class="side-b">
                  <div class="side-t ic-l decor">
                     <span class="fa fa-film"></span>Жанры</div>
                  <nav class="side-c nav">
                     <ul class="flex-row">
                        <li><a href="vsya-biografiya/default.htm">Биография</a></li>
                        <li><a href="vse-boeviki/default.htm">Боевик</a></li>
                        <li><a href="vse-vesterny/default.htm">Вестерн</a></li>
                        <li><a href="vse-voennye/default.htm">Военный</a></li>
                        <li><a href="vse-detektivy/default.htm">Детектив</a></li>
                        <li><a href="vse-dramy/default.htm">Драма</a></li>
                        <li><a href="vse-dokumentalnye/default.htm">Документал</a></li>
                        <li><a href="vse-istoricheskie/default.htm">История</a></li>
                        <li><a href="vse-komedii/default.htm">Комедия</a></li>
                        <li><a href="ves-kriminal/default.htm">Криминал</a></li>
                        <li><a href="vse-melodramy/default.htm">Мелодрама</a></li>
                        <li><a href="vse-priklyucheniya/default.htm">Приключения</a></li>
                        <li><a href="vse-semeynye/default.htm">Семейные</a></li>
                        <li><a href="vse-sportivnye/default.htm">Спорт</a></li>
                        <li><a href="vse-trillery/default.htm">Триллер</a></li>
                        <li><a href="vse-uzhasy/default.htm">Ужасы</a></li>
                        <li><a href="vsya-fantastika/default.htm">Фантастика</a></li>
                        <li><a href="vse-fentezi/default.htm">Фэнтези</a></li>
                     </ul>
                  </nav>
               </div>
               <div class="btn_rec"></div>







            </aside>
         </div>