<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>{% block title %} {% endblock title %}</title>
   <meta name="description" content="Здесь можно смотреть онлайн фильмы, мультики и сериалы бесплатно в 4К Ultra HD, а также новинки кино 2017, 2018 и 2019 года в любое время и в любом месте" />
   <meta name="keywords" content="" />
   <link rel="search" type="application/opensearchdescription+xml" href="" title="Фильмы, мультфильмы и сериалы в 4К Ultra HD смотреть онлайн 2018 2019 года, новинки кино в UHD 4K" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="canonical" href="default.htm" />
   <link rel="shortcut icon" href="favicon.ico" />
   <link href="{% static '/templates/Default/style/styles_dark004.css' %}" type="text/css" rel="stylesheet"/>
   <link href="{% static '/templates/Default/style/engine.css' %}" type="text/css" rel="stylesheet" />
   <script type="text/javascript" src="{% static 'engine/classes/min/index1.js' %}"></script>
   <link media="screen" href="{% static 'engine/editor/css/default.css' %}" type="text/css" rel="stylesheet" />
   <script src="{% static 'templates/Default/js/libs1.js' %}"></script>


</head>

<body>
{% include 'include/header.html' %}
{% block content %}

{% endblock content %}
{% include 'include/footer.html' %}
</body>
</html>